<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- ===========STYLES=========== -->
<div th:include="layouts/styles" th:remove="tag"></div>

<title th:text="#{label.home.title}"></title>

</head>
<body>
	<div class="header">
		<div th:include="header" th:remove="tag"></div>
	</div>
	<div class="container body">
		<div class="row">
			<div class="title">
				<h4 th:text="#{label.home.title}"></h4>
			</div>
		</div>
		<div class="row">
			<div th:include="tabs" th:remove="tag"></div>
		</div>

	</div>


	<!-- ===========ADD SCRIPTS=========== -->
	<div th:include="layouts/scripts" th:remove="tag"></div>
	<script th:inline="javascript">
		MM_CONTEXT_PATH = /*[[@{/}]]*/;
	</script>
</body>


</html>