<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#simple"  th:text="#{label.game.simple}"></a></li>
    <li><a data-toggle="tab" href="#champions"  th:text="#{label.game.champions}"></a></li>
    <li><a data-toggle="tab" href="#file"  th:text="#{label.game.file}"></a></li>
  </ul>

  <div class="tab-content">
    <div id="simple" class="tab-pane fade in active">
    	<h3 th:text="#{label.game.simple}"></h3>
      	<div class="col-md-8">
			<form class="form-inline" id="simpleForm">
				<h3 class="numPlayer" th:text="#{label.game.player1}"></h3>
    			<div class="form-group">
					<label for="name" th:text="#{label.game.name}"></label>
					<input type="text" id="name"  class="form-control" data-icon="false" data-placeholder="Name" />
				</div>
				<div class="form-group">
					<label for="name" th:text="#{label.game.strategy}"></label>	
					<input type="text" id="strategy" class="form-control" data-icon="false" data-placeholder="Strategy"/>
				</div>
				<button type="submit" class="btn btn-default" id="addPlayer" th:text="#{label.game.addPlayer}"></button>
			</form>
		</div>
		
		<div class="col-md-8">
			<h3 th:text="#{label.game.winer}"></h3>
			<table class="table table-striped">
				  <thead>
				    <tr>
				      <th>#</th>
				      <th th:text="#{label.game.name}"></th>
				      <th th:text="#{label.game.strategy}"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <th scope="row">1</th>
				      <td class="name"></td>
				      <td class="strategy"></td>
				    </tr>
				  </tbody>
			</table>
		</div>
		
    </div>
    <div id="champions" class="tab-pane fade">
      	<h3 th:text="#{label.game.champions}"></h3>
      	<div class="tournamentTitle">
      		<h2 th:text="#{label.game.tournament}"></h2>
      		<button type="submit" class="btn btn-default" id="newTournament" th:text="#{label.game.newTournament}"></button>
      	</div>
		<form class="form-inline" id="tournamentForm">
			<h3 class="numPlayer" th:text="#{label.game.player1}"></h3>
    		<div class="form-group">
				<label for="name" th:text="#{label.game.name}"></label>
				<input type="text" id="name"  class="form-control" data-icon="false" data-placeholder="Name" />
			</div>
			<div class="form-group">
				<label for="name" th:text="#{label.game.strategy}"></label>	
				<input type="text" id="strategy" class="form-control" data-icon="false" data-placeholder="Strategy"/>
			</div>
			<button type="submit" class="btn btn-default" id="addPlayer" th:text="#{label.game.addPlayer}"></button>
		</form>	
		<div>
			<button type="submit" class="btn btn-default" id="game" th:text="#{label.game.game}"></button>
		</div>
	</div>
    <div id="file" class="tab-pane fade">
    	<h3 th:text="#{label.game.file}"></h3>
      	<div class="col-md-4">
			<input type="file" class="filestyle" data-icon="false"
					data-placeholder="No file" /><br />
			<textarea class="form-control" rows="10" id="editor"></textarea>
			<br />
			<p id="datos"></p>
		</div>
    </div>
  </div>